:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: 'Bebas Neue', cursive;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  position: relative;
}
.inner {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
  a {
    text-decoration: none;
    font-size: 15vw;
    line-height: 0.9;
    -webkit-text-stroke: 2px #fff;
    text-stroke: 2px #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
      color: transparent;
      filter: drop-shadow(0 0 0.5rem #fff);
    }
  }
  a[data-color="dark"] {
    letter-spacing: 0.025em;
  }
}

.stalker {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
  width: 70px;
  height: 70px;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    // opacity: 0.7;
    filter: drop-shadow(0 0 0.5rem #fff);
    transition: transform 0.3s cubic-bezier(.57,-0.35,0,1.13), color 0.3s linear;
  }
  &.is-active {
    &::before {
      transform: scale(1.6);
      background: rgba(255, 255, 255, 0.5);
    }
  }
  &.is-hide {
    &::before {
      transform: scale(0);
    }
  }
}
